azul = #22BCE0
gris_oscuro = #444
gris_texto = #7A7A7A
naranja = #DD4F24

@font-face
	font-family 'iconitos'
	src url('../fonts/icomoon.eot?rvmnfl')
	src url('../fonts/icomoon.eot?#iefixrvmnfl') format('embedded-opentype'), url('../fonts/icomoon.woff?rvmnfl') format('woff'), url('../fonts/icomoon.ttf?rvmnfl') format('truetype'), url('../fonts/icomoon.svg?rvmnfl#icomoon') format('svg')
	font-weight normal
	font-style normal

/* Utilidades */

.u-left
	float left

.u-right
	float right

a
	color naranja

body
	background #E8E8E8
	color gris_oscuro
	font-family Arial
	font-size 16px

footer
	background naranja
	color rgba(white,0.9)
	text-align center
	padding 1em 0em
	bottom 0
	width 100%

	h3
		font-size 14px
		font-weight normal

		strong
			display block

		span
			&:after
			&:before
				content " - "
				
			

header
	background gris_oscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	overflow hidden
	color white
	padding 0.5em
	position relative
	z-index 1
	
	.logo
		border-right 1px solid azul
		width 60px

		img
			width 50px
	.titular
		margin 0 60px 0 70px
		.filtro
			color azul
			text-decoration none
			font-weight bold
			font-style italic
			font-size 14px

		.publicar
			background naranja
			color white
			padding 0.2em 0.5em
			text-decoration none
			font-style italic
			text-shadow 1px 1px 0px black
			float right
			margin 0px 3px 0 0

			&:before
				display inline-block
				margin 0 0.1em 0 0
				content "\e600"
				font-family "iconitos"

		.titulo
			font-size 18px
			font-weight normal
			margin 0

	.usuario
		position absolute
		top 10px
		right 10px
		.avatar
			position relative
			margin 0 1.1em 0 0
			z-index 2

			img
				width 50px
				border-radius 50%
		.flechita
			background naranja
			color white
			display block
			padding 2px
			position absolute
			right 0
			text-align right
			top 15px
			width 50%
			z-index 0
			text-decoration none

			&:after
				font-family "iconitos"
				content "\e602"
				text-shadow 1px 1px 0px black



nav
	background azul
	border-left 15px solid white
	position relative

	&:before
		content ""
		border-left 7px solid white
		border-bottom 20px solid transparent
		border-top 20px solid transparent
		position absolute
		top 0
		left 0

	.menu
		margin 0
		height 40px
		line-height 33px
		overflow-x auto
		white-space nowrap
		padding 0

		li
			display inline-block

			a
				margin 0 0.5em
				color white
				text-decoration none
				padding 0.2em
				display block

.posts
	padding 0.5em

	.post
		background white
		border-radius 0 0 0.5em 0.5em
		color gris_texto
		box-shadow 2px 2px 10px rgba(black, 0.5)
		margin-bottom 1em

		.acciones
			border-top 3px solid azul
			padding  0.5em
			overflow hidden

			.datos
				float right

				.comentarios
					background gris_oscuro
					color white
					margin 0 1em 0 0
					padding 2px 5px
					text-decoration none
					border-radius 3px

				.estrellita
					text-decoration none
					&:after
						content "\e601"
						font-family "iconitos"
						color #E0D561
			
			.votos
				float left

				.down
				.up
					text-decoration none
					font-size 1.5em

				.down
					color red
					&:before
						font-family "iconitos"
						content "\e602"
						vertical-align bottom
				
				.up
					color green
					&:before
						font-family "iconitos"
						content "\e603"
						vertical-align bottom
			
		.descripcion
			color gris_texto
			.detalles
				height 160px
				margin-left 130px

				.autor
					margin 0.5em 0 2em 0

				.fecha
					float right
					margin 0 1em 0 0

				.tag
					background azul
					color white
					text-decoration none
					padding 0.2em 0.5em
					border-radius 0.5em
					float left

				.titulo
					font-size 18px
					font-style italic
					color gris_oscuro
					margin 0
					padding 0.5em 0.5em 0 0

			.imagen
				float left
				img
					height 160px
					width 120px
					vertical-align top


@media screen and (min-width 768px)

	header
		.titular
			.publicar
				position relative
				padding-left 3em
				&:before
					position absolute
					left 0
					top -10px
					font-size 2.5em


	.posts
		.post
			width 48%
			vertical-align top
			display inline-block
			&:nth-child(odd)
				margin-right 2%




